{% extends 'base.html.twig' %}

{% block title %}New Party{% endblock %}

{% block body %}
    <h1>Créer une soirée</h1>

    {{ include('party/_form.html.twig') }}

    {# <a href="{{ path('app_party_index') }}">back to list</a> #}
{% endblock %}
