<form method="post" action="{{ path('app_drink_delete', {'id': drink.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ drink.id) }}">
    <button class="btn">Delete</button>
</form>
