{% extends 'base.html.twig' %}

{% block title %}DrinkItEz{% endblock %}

{% block body %}
     <div>
        <h1>DrinkItEz</h1>
     </div>
     <div class="custom_button">
        <a class="button" href="">Créer une soirée</button>
     </div>
{% endblock %}